<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" />
    <title>Profile</title>
</head>
<body>
<%- include('navbar'); -%>
<div class="container-fluid">
    <div class="row pt-4 px-2">
            <div class="col">
                <% if (show) { %>
                <a href="/logout">
                    <img src="/svg/logout.svg" alt="">
                </a>
                    <% } %>
            </div>
            <div class="col">
                <img src="/images/profile/default.jpg" id="profileImg" class="img-fluid rounded-circle mx-auto d-block" alt="">
                <!-- Modal -->
<!--                <div class="modal fade" id="profileImgModal" data-bs-backdrop="static" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="/images/profile/default.jpg" id="croppie" alt="">
                            </div>
                            <div class="modal-footer justify-content-between">
                                <label class="btn btn-outline-secondary" >
                                    Upload Image <input type="file" accept="image/*" hidden id="profileUpload">
                                </label>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="col">
                <% if (show) { %>
                    <a href="/settings">
                        <img src="/svg/settings.svg" class="float-end"  alt="">
                    </a>
                <% } %>
            </div>
    </div>
    <div class="row text-center pt-2">
        <h3 class="fw-bold mb-0"><%= user.name %></h3>
        <h6><%= user.company %><br><span><%= user.points %></span> Points</h6>
    </div>
    <div class="row row-cols-3 text-center mt-3 mx-1">
        <% badges.forEach(function(badge){ %>
            <div class="col mb-3">
                    <img src="/images/badges/<%= badge.info.img %>" class="img-fluid p-2 <%= badge.completed ? 'completed' : 'not-completed' %>" alt="<%= badge.info.title %>">
            </div>
        <% }); %>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig==" crossorigin="anonymous"></script>
<script src="/javascript/script.js"></script>
</body>
</html>